@import "variable";

.hello {
    @extend %section;
    &_wrap {
        @extend %section_wrap;
    }
    padding-top: 110px !important;

    .about-me {
        width: 50%;
        &__title {
            font-size: 36px;
            line-height: 1.25;
            font-weight: 600;
            margin-bottom: 2px;
            &:after {
                content: '.';
                color: $basecolor;
            }
        }
        &__desc {
            opacity: 0.8;
            margin-bottom: 20px;
            padding-right: 10px;
        }
        &__info {
            & p {
                display: flex;
                flex-direction: row;
                margin-bottom: 15px;
                .span-title {
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: "Lato", sans-serif;
                    line-height: 1.66;
                }
                .span-email {                    
                    padding-left: 76px !important;
                }
                .span-title + span {
                    display: block;
                    padding-left: 70px;
                    & a{
                        text-decoration: none;
                        color: #000;
                        opacity: 0.9;
                    }
                }
                .icon-wrap a + a {
                    padding-left: 25px;
                }
                .icon::before {
                    font-size: 20px !important;
                }
            }
        }
        .gray-btn {
            margin-top: 10px;
            @extend %button;
        }
        &__image {
            position: relative;
            padding-bottom: 330px;
            width: 50%;
            & img{
                position: absolute;
                -o-object-fit: cover;
                object-fit: cover;
                width: 100%;
                height: 320px;
            }
        }
    }
}

.skills {
    @extend %section;
    &_wrap {
        @extend %section_wrap;
    }
    &-title {
        width: 45%;
        @extend %section_title;
    }
    &-advantages {
        &__wrap + &__wrap {
            border-top: 1px solid #eee;
            padding-top: 10px;
            margin-top: 20px;
        }
        &__title {
            margin-bottom: 2px;
            font-size: 18px;
            line-height: 1.55;
            font-weight: 700;
            font-family: "Lato", sans-serif;
        }
        &__desc {
            opacity: 0.9;
        }
    }

}

.experience {
    @extend %section;
    &_wrap {
        @extend %section_wrap;
    }
    
    &-title {
        width: 44%;
        @extend %section_title;
    }
    &-advantages {
        &__wrap + &__wrap {
            border-top: 1px solid #eee;
            padding-top: 10px;
            margin-top: 20px;
        }
        &__title {
            margin-bottom: 2px;
            font-size: 20px;
            line-height: 1.55;
            font-weight: 700;
            font-family: "Lato", sans-serif;
            color: rgba($basecolor, 0.9);
        }
        &__info {
            line-height: 1.55;
            font-family: "Lato", sans-serif;
            font-weight: 600;
        }
        &__date {
            font-style: italic;
        }
    }
}

.education {
    @extend %section;
    &_wrap {
        @extend %section_wrap;
    }
    &-title {
        width: 49%;
        @extend %section_title;
    }
    &-advantages {
        &__wrap + &__wrap {
            border-top: 1px solid #eee;
            padding-top: 10px;
            margin-top: 20px;
        }
        &__title {
            margin-bottom: 2px;
            font-size: 20px;
            line-height: 1.55;
            font-weight: 700;
            font-family: "Lato", sans-serif;
            color: rgba($basecolor, 0.9);
        }
        &__info {
            line-height: 1.55;
            font-family: "Lato", sans-serif;
            font-weight: 600;
        }
        &__date {
            font-style: italic;
        }
    }
}

.portfolio {
    @extend %section;
    &_wrap {
        @extend %section_wrap;
    }
    @extend %section_title;
}

.contact {
    @extend %section;
    border-bottom: none !important;
    &_wrap {
        @extend %section_wrap;
    }
    &-title {
        width: 46%;
        @extend %section_title;
    }
    &-form {
        display: flex;
        &__info-wrap {
            width: 230px;
            margin: 0 15px;
        }
        &__name {
            margin-bottom: 30px;
        }
        &__name, &__email {
            padding: 5px;
            font-size: 14px;
            font-family: "Lato", sans-serif;
            line-height: 1.4;
            height: 40px;
            width: 100%;
            border: 1px solid #e3e3e3;
            border-radius: 2px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            &:hover {
                border: 1px solid $basecolor;
            }
        }
        
        &__message-wrap {
            width: 380px;
            margin: 0 15px;
        }
        & textarea {
            height: 122px;
            width: 100%;
            border: 1px solid #e3e3e3;
            padding: 5px 10px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            resize: none;
            display: block;
            border-radius: 2px;
            &:hover {
                border: 1px solid $basecolor;
            }
        }
        &__btn {
            margin: 20px 0 0 232px;
            @extend %button;
        }
    }
}
