@media screen and (max-width: 992px) {
    .header {
        & ul {
            flex-direction: column;
            display: none;
        }  
        & h1 {
            font-size: 20px;
        }    
        
        top: -1px;  
    }
    .mobile-btn {
        display: block;
    }

    .header_wrap, .hello_wrap, .education_wrap, .contact_wrap, .portfolio_wrap, .experience_wrap, .skills_wrap {
        padding: 20px 30px !important;
        max-width: 740px !important;
        flex-direction: column !important;
    }
    .header_wrap {
        flex-direction: row !important;
        padding: 8px 30px !important;
    }
    .hello .about-me {
        margin: -50px 0 30px 0;
        width: 100%;
        &__image {
            width: 100%;
            padding-bottom: 260px;
            & img {
                height: 250px;
            }
        }
        &__title {
            font-size: 28px;
        }
    }
    .icon-wrap {
        margin-top: -5px;
    }
    .icon::before {
        font-size: 24px !important;
    }
    .portfolio {
        &-box {     
            width: 50%;
        }
    }
    .contact {
        &-form {
            display: flex;
            flex-direction: column;
            &__info-wrap {
                width: 100%;
                margin: 0;
            }
            &__name, &__email {
                margin-bottom: 15px;
            }
            &__message-wrap {
                width: 100%;
                margin: 0;
            }                
            & textarea {
                padding: 5px;
            }
            
            &__btn {
                margin: 20px 0 0 0;
            }
        }
    }

    .skills, .experience, .education, .contact {
        &-title {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}


@media screen and (max-width: 540px) {
    .portfolio {
        &-box {     
            width: 100%;
        }
        &-box + &-box {
            border-top: 1px solid #eee;
            padding-top: 30px;
        }
    }
}