%section {
    border-bottom: 1px solid #afafaf;
    padding: 20px 0 10px 0;
}
%section_wrap {
    padding: 15px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}