@import 'header';
@import 'about-me';
@import "mixins.scss";
@import "media.scss";


* {
    margin: 0;
    padding: 0;
}

.icon { 
    &::before {
        display: inline-block;
        font: normal normal normal 24px/1 "Material Design Icons";
        font-size: inherit;
        text-rendering: auto;
        line-height: inherit;
        color: #000;
    }  
    &_git::before {
        content: "\F2A4";
    }
    &_link::before {
        content: "\F33B";
    }
    &_teleg::before {
        content: "\f501";
    }
    &_close::before {
        content: "\F156";
        cursor: pointer;
    }
    &_menu::before {
        content: "\F35C";
        color: #3333ff;
        cursor: pointer;
        font: normal normal normal 20px/1 "Material Design Icons";
    }
}

footer {
    background: #efefef;
    padding: 15px 0 15px;
    text-align: center;
    & p {
        font-size: 14px;
        line-height: 1.4;
        opacity: 0.8;
    }
}