@charset "UTF-8";
.header {
  z-index: 1000;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  padding: 15px 0 5px 0 !important;
  background-color: #FFF;
}
.header h1 {
  font-size: 24px;
  font-weight: 700;
}
.header ul {
  display: flex;
  align-items: center;
}
.header ul li {
  list-style: none;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.66;
  margin: 8px 0 10px 20px;
}
.header ul li a {
  transition: all 0.4s ease;
  text-decoration: none;
  color: black;
}
.header ul li a:hover {
  color: #337ab7;
  text-decoration: underline;
}

.active {
  border: none !important;
  -webkit-box-shadow: 0 5px 10px rgba(37, 37, 37, 0.1);
}

.close-menu {
  display: none;
}

.mobile-btn {
  display: none;
}

.active-list {
  position: relative;
  left: 8%;
}

.hello {
  padding-top: 110px !important;
}
.hello .about-me {
  width: 50%;
}
.hello .about-me__title {
  font-size: 36px;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 2px;
}
.hello .about-me__desc {
  opacity: 0.8;
  margin-bottom: 20px;
  padding-right: 10px;
}
.hello .about-me__info p {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.hello .about-me__info p .span-title {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  line-height: 1.66;
}
.hello .about-me__info p .span-title + span {
  display: block;
  padding-left: 70px;
}
.hello .about-me__info p .span-title + span a {
  text-decoration: none;
  color: #000;
  opacity: 0.9;
}
.hello .about-me__info p .icon-wrap a + a {
  padding-left: 25px;
}
.hello .about-me .gray-btn {
  margin-top: 10px;
  background: #efefef;
  color: #252525;
  font-size: 12px;
  line-height: 1.66;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  transition: all 0.3s ease;
  min-width: 170px;
  text-align: center;
  padding: 15px;
  display: inline-block;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}
.hello .about-me .gray-btn:hover {
  box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2);
  color: #252525;
}
.hello .about-me__image {
  position: relative;
  padding-bottom: 330px;
  width: 50%;
}
.hello .about-me__image img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 320px;
}

.skills-title {
  width: 45%;
}
.skills-title h2 {
  font-size: 30px;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 2px;
}
.skills-title p {
  opacity: 0.9;
}
.skills-advantages__wrap + .skills-advantages__wrap {
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 20px;
}
.skills-advantages__title {
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
.skills-advantages__desc {
  opacity: 0.9;
}

.contact {
  border-bottom: none !important;
}
.header, .hello, .skills, .experience, .portfolio, .education, .contact {
  border-bottom: 1px solid #afafaf;
  padding: 20px 0 10px 0;
}

.header_wrap, .hello_wrap, .skills_wrap, .experience_wrap, .portfolio_wrap, .education_wrap, .contact_wrap {
  padding: 15px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .header {
    top: -1px;
  }
  .header ul {
    flex-direction: column;
    display: none;
  }
  .header h1 {
    font-size: 20px;
  }

  .mobile-btn {
    display: block;
  }

  .header_wrap, .hello_wrap, .education_wrap, .contact_wrap, .portfolio_wrap, .experience_wrap, .skills_wrap {
    padding: 20px 30px !important;
    max-width: 740px !important;
    flex-direction: column !important;
  }

  .header_wrap {
    flex-direction: row !important;
    padding: 8px 30px !important;
  }

  .hello .about-me {
    margin: -50px 0 30px 0;
    width: 100%;
  }
  .hello .about-me__image {
    width: 100%;
    padding-bottom: 260px;
  }
  .hello .about-me__image img {
    height: 250px;
  }
  .hello .about-me__title {
    font-size: 28px;
  }

  .skills-title {
    width: 100%;
    margin-bottom: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
}

.icon::before {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  color: #000;
}
.icon_git::before {
  content: "";
}
.icon_link::before {
  content: "";
}
.icon_teleg::before {
  content: "";
}
.icon_close::before {
  content: "";
  cursor: pointer;
}
.icon_menu::before {
  content: "";
  color: #3333ff;
  cursor: pointer;
  font: normal normal normal 20px/1 "Material Design Icons";
}

footer {
  background: #efefef;
  padding: 15px 0 15px;
  text-align: center;
}
footer p {
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
